@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

:root {
  --action-bg-color: #1992d4;
  --header-bg-color: white;
  --main-bg-color: #e2e8f0;
  --main-text-hdr-color: black;
  --sub-text-color: grey;
  --font-size: 25px;
  --font-family: Work Sans,sans-serif;
  --sidebar-unit: 1rem;
  --sidebar-text-unit: calc(var(--sidebar-unit)*0.65);
  --button-width: calc(var(--sidebar-text-unit)*5);
  --grid-row-height: calc(var(--sidebar-unit)*3);
  --padding: var(--sidebar-unit);
  --gap: var(--sidebar-text-unit);    
  --content-height: 600px;
  --content-width: calc(var(--button-width)*3);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--header-bg-color);
  color: var(--main-text-hdr-color);
}

.container {
  text-align: center;
  display:grid;
  grid-template: 100px 100px 100px/100px 100px 100px;
  gap: var(--gap);
  padding: var(--padding);
  border-style: solid;
  border-width: 3px;
}

.container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex:1;
  gap: var(--gap);
  padding: var(--padding) ;
  border-style: solid;
  border-width: 3px;
}


button {
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: var(--border-color);
  height:30px;
  width: 95px;
  align-items: center;
  justify-content: center;  
  padding: 5px;
  margin: 10px;
}

.msg {
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: var(--border-color);
  height:30px;
  width: 400px;
  align-items: center;
  justify-content: center;  
  padding: 5px;
  margin: 10px;
}

.win {
  border-color: green;
  color: green;
}